@import '../../styles/global.scss';


.StockList {
  background-color: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  @include desktop {
    width: calc(100% - 54px);
    margin: 10px 27px;
    >div:nth-child(2n) {
      margin-left: 20px;
    }
  }
  @include mobile {
      width: 100%;
      margin: 10px;
  }
 
}
